canvas {
    display: block;
    margin-left: auto;
    /* width: 400px;
    height: 400px; */
    margin-right: auto;
    border: 1px solid black;
}

p {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    /* color: red; */
}

.joystick {
    display: flex;
    justify-content: center;
}